{
    "sandbox": {
        "parseAppName":       "",
        "parseAppId":         "",
        "parseClientKey":     "",
        "parseJavascriptKey": "",
        "parseRestKey":       "",
        "parseMasterKey":     ""
    }
}
